
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Assignments Project</a>
    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/servers"          >Servers Example</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/assignment1"      >Assignment 1</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/assignment2"      >Assignment 2</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/assignment3"      >Assignment 3</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/assignment4"      >Assignment 4</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/assignment5']">Assignment 5</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/assignment6']">Assignment 6</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/assignment7"      >Assignment 7</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--
<hr>
<nav class="nav nav-pills flex-column flex-sm-row">
  <a  class="flex-sm-fill text-sm-center nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">
      <!-- we use this option here to avoid setting active the / route as all routes contain it - - >
        Assignments Project
  </a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/servers" routerLinkActive="active">Servers Example</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/assignment1" routerLinkActive="active">Assignment 1</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/assignment2" routerLinkActive="active">Assignment 2</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/assignment3" routerLinkActive="active">Assignment 3</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/assignment4" routerLinkActive="active">Assignment 4</a>
  <a class="flex-sm-fill text-sm-center nav-link" [routerLink]="['/assignment5']" routerLinkActive="active">Assignment 5</a>
</nav>
-->
