<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">Welcome!!! You are in the Home component</div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" (click)="navigateToPage('servers')" style="cursor: pointer;">Go to servers example</li>
    <li class="list-group-item" (click)="navigateToPage('assignment1')" style="cursor: pointer;">Go to assignment1</li>
    <li class="list-group-item" (click)="navigateToPage('assignment2')" style="cursor: pointer;">Go to assignment2</li>
    <li class="list-group-item" (click)="navigateToPage('assignment3')" style="cursor: pointer;">Go to assignment3</li>
    <li class="list-group-item" (click)="navigateToPage('assignment4')" style="cursor: pointer;">Go to assignment4</li>
    <li class="list-group-item" (click)="navigateToPage('assignment5')" style="cursor: pointer;">Go to assignment5</li>
  </ul>
</div>
